$bg-color: white;
$button-color: white;
$main-font: Roboto;
$text-white: white;
$text-black: #121212;
$primary-color: #E4C1AE;
*{

	magin: 0;
	padding: 0;

}
body{

	font-family: $main-font;

}
.display{

	display: block;

}
#overlay{

	position: absolute;
	z-index: 1;
	background-color: rgba(0,0,0, 0.5);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;

}
#alert{

	background-color: $text-white;
	width: 920px;
	height: 210px;
	color: $text-black;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: none;
	bottom: 0;
	margin: auto;
	z-index: 2;
	h1{

		margin-top: 56px;
		margin-left: 95px;

	}
	p{

		margin-left: 95px;
		margin-top: 24px;
	}
	.close{

		position: absolute;
		right: 40px;
		top: 40px;
		font-size:15px;

	}

}
#image-hero{

	width:1440px;
	height: 330px;
	margin: auto;
	margin-top: 96px;
	.content{

		width: 40%;
		margin-left: 95px;
		color: $text-black;
		h1{

			font-size: 42px;
			line-height: 50.4px;
			font-weight: 700;

		}
		p{

			line-height: 24px;
			font-size: 16px;
			font-wieght: 300;
			line-height: 150%;
			margin-top: 24px;

		}
		a{

			font-size: 16px;
			line-height: 16px;
			font-weight: 700;
			color: $text-white;
			background-color: $primary-color;
			padding: 16px 40px 16px 40px;
			border-radius: 32px;
			text-decoration: none;
			margin-top: 32px;
			display: inline-block;

		}

	}

}
.col-50{

	width: 45%;
	float: left;
	img{

		width: 100%;
		height: auto;

	}

}
